/*Тренировочка*/
html {
    font-family: 'Open Sans', sans-serif;
    }
    
    body {/*чтоб не было белых полей слевой и правой стороны фона*/
        margin: 0;
    }
    /*Все ссылки будут такого цвета*/
    
    /*При наведении курсора ссылка меняет цвет*/
    a:hover {
        color: #c00;
    }
    
    iframe {
        border: 1px solid #ccc;
    }
    
    p {
        font-size: 18px; /*размер основного текста*/
        padding-top: 16px;
        padding-bottom: 16px; 
        padding-left: 16px; 
        padding-right: 16px;
       /* text-indent: 20px; /* Отступ первой строки в пикселах */
    }
    
    ul {
        padding-left: 0px;
    }
    
    ol { 
        padding-left: 0px;
    }

    /*Блок*/ /*Попринципам БЭМ*/
    .header {
        position: sticky; /*прилипает» к экрану при прокрутке, пока не встретится с границей родительского блока.*/
        top:0;
        height: 64px;
        background: #F3F4F6;

        display: flex;
        align-items: center;
        padding: 0px 114px;

    }
    /*Элементы блока*/
    .header__title{
        font-size: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 30px;
        color: #000000;
    }
    .header__logo{
        margin: 0;
    }

    .header__tel{
        margin-left: auto; /* Значения-ключевые слова */
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        color: #000000;
        text-decoration: none; /*убирает подчеркивание ссылки*/
        
    }
    .header__btn{
        margin-left: 32px; /*левый отступ*/
    }

    .btn {
        background: #278EED; /*Фон кнопки*/
        border: 1px solid #278EED;
        border-radius: 20px; /*Закругление кнопки*/
        padding: 20px; /* Размер кнопки*/
        color: white; /*Цвет кнопки*/
        cursor: pointer;
        /* padding-top: 8px;  /*Внутренний отступ сверху*/
        /* padding-bottom: 8px; /*Внутренний отступ снизу*/
        /*padding-left: 12px; /*Внутренний отступ слева*/
        /*padding-right: 12px; /*Внутренний отступ справа*/
    }
.btn_large{
    font-size: 18px; /*Размер шрифта*/
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 115px;
    padding-right: 115px;
}
.btn_small{
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 30px;
    padding-right: 30px;
}
    



    /*Первая секция*/ /*по технологии БЭМ*/
    .first-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 133px;
        height: 880px; /**/
        box-sizing: border-box;
        background-image: url(./images/fon.png);
        background-size: cover; /* заполняет фон во всю ширину стр.*/
        background-color: #278EED;
    }
    .first-section__header { 
    
        font-style: normal;
        font-weight: 700px;
        font-size: 44px;
        line-height: 58px;
        text-align: center;
        margin: 0;
     }
        
     .first-section__text {/*Настройка текста для первого <p>*/
            max-width: 572px; /*адаптируем текс под экран*/
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 30px;
            text-align: center;
            margin-top: 16px;
            margin-bottom: 52px;
        }
        

    /*Вторая секция*/
    .second-section {
        display: flex;
        gap: 32px; /*Пробел между элементами*/
        justify-content: center; /*Выравнивает по центру всей страницы*/
        background: #F3F4F6;
        padding: 95px 110px 54px; /*Внутренние отступы всего селекта от элементов*/
    }
    
.advantage { /*Класс для блока, отвечающий за расположение*/
        display: flex;
        flex-direction: column;/*ставим колонкой*/
        align-items: center; /*центрирует элементы по вспомогательной оси*/
        padding: 30px 66px;
    }
.advantage__color-header { /*   Стиль заголовка*/
    font-style: normal;
    font-weight: 700; /*Жирность шрифта*/
    font-size: 18px; /*Размер Шрифта*/
    line-height: 30px /**/;
    text-align: center; /*Выравнивание по центру*/
    color: black;
}

.advantage__color-header_green{
    color: #24BA96;

}
.advantage__color-header_yellow{
    color: #F0A900;
}
.advantage__color-header_red{
    color: #FF6577;
}

.advantage__text { /*Дизайн p Во втоором блоке*/
        font-style: italic;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        color: #111827;
        width: 240px;
        margin: 0;
        
    }
    
 
  /* {/*НОВОЕ*/
       /* margin: 0;/*Все отступы по умолчанию убраны
        padding: 0;
            }*/